.loader {
  border: 3px solid rgba(209, 212, 210, 0.3);
  border-radius: 50%;
  border-top: 3px solid #ccc8c8;
  width: 24px;
  height: 24px;
  animation: btnspin .7s linear infinite;
  transition: 0;
  display: block;
}

@keyframes btnspin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  overflow: hidden;
  background-color: transparent;
}

.pagination > button {
  width: 70px;
  cursor: pointer;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: capitalize;
}

.pagination #pagination-numbers button {
  height: 100%;
  cursor: pointer;
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.pagination #pagination-numbers button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.pagination-number.active {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 121 0 / var(--tw-bg-opacity)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.control-error {
    color: tomato;
    font-size: 11px;
    text-transform: italics;
}

label {
    text-transform: capitalize;
}
