
<div class="curved-bg animate__animated animate__fadeIn bg-center bg-no-repeat bg-cover bg-fixed" style="background-image: url('./images/hero.jpg')">
    <div class="flex items-center justify-center relative bg-secondary bg-opacity-90">
        <div class="section wmargin flex flex-col items-center">
            <h1 class="font-black text-3xl xl:text-5xl text-white animate__animated animate__slideInUp">About us</h1>
            <div class="flex items-center mt-2">
                <span class="z-10 rounded-full h-3 w-3 bg-primary border-2 border-primary"></span>
                <span class="h-[2px] bg-primary w-16"></span>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="wmargin section">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-20">
            <div class="h-[400px] border-b-[14px] border-primary relative lg:shadow-lg">
                <div class="h-full bg-cover bg-no-repeat rounded-xl" style="background-image: url(./images/office.jpg)"></div>
                <div class="h-[20px] w-full absolute bottom-0 bg-white"></div>
                <div class="h-3/5 w-2/3 bg-cover bg-no-repeat absolute bottom-0 right-0 border-[14px] border-white bg-black lg:translate-x-[50px] translate-y-[70px] z-10"
                    style="background-image: url(./images/texting.png)" ></div>
            </div>
            <div class="lg:col-span-2 flex flex-col gap-10 text-sm lg:px-10">
                <div>
                    <h5 class="text-sm capitalize font-boldtext-primary border-l-2 border-primary pl-3">KNOW US</h5>
                    <h2 class="font-black text-4xl lg:text-5xl text-secondary capitalize mt-2 tracking-wide">Where Creativity Meets Technology</h2>
                </div>
                <p class="tracking-wide text-gray-600/90 leading-normal text-base">
                    We are dedicated to revolutionizing digital communication. With a comprehensive suite of services including Bulk SMS, WhatsApp Campaigns, Sponsored Advertising, Programmatic Marketing, and more, we empower businesses to connect with their audience effectively. Our innovative solutions are designed to enhance engagement, streamline communication, and drive growth. Trusted by thousands of satisfied clients, we are committed to delivering top-notch service and support to help you achieve your marketing goals.
                </p>
                <ul class="list-none text-gray-700 text-base font-medium">
                    <li class="flex items-start gap-2 mb-2">
                        <span class="h-7 w-7 rounded-full bg-secondary  flex items-center justify-center">
                            <span class="material-symbols-outlined text-gray-200">arrow_right_alt</span>
                        </span>
                        <span>Boost customer engagement with targeted messaging campaigns.</span>
                    </li>
                    <li class="flex items-start gap-2 mb-2">
                        <span class="h-7 w-7 rounded-full bg-secondary  flex items-center justify-center">
                            <span class="material-symbols-outlined text-gray-200">arrow_right_alt</span>
                        </span>
                        <span>Understand market trends to tailor your communication strategies.</span>
                    </li>
                    <li class="flex items-start gap-2 mb-2">
                        <span class="h-7 w-7 rounded-full bg-secondary  flex items-center justify-center">
                            <span class="material-symbols-outlined text-gray-200">arrow_right_alt</span>
                        </span>
                        <span>Streamline processes with our efficient messaging solutions.</span>
                    </li>
                </ul>                    
            </div>
        </div>
    </div>
</section>


<section class="bg-gray-50 bg-no-repeat bg-center" style="background-image: url('./images/earth.png'); background-position-y: 150px;">
    <div class="section wmargin flex flex-col justify-center items-center">
        <h2 class="font-black text-4xl text-secondary capitalize mt-2 tracking-wide">Achieve your goals with a competitive edge?</h2>
        <p class="mt-5 mb-20 text-base">Leverage technology to create cutting-edged, tailored and modern business solutions.</p>
        <div class="flex gap-5">
            <a href="../admin/view/login" class="py-4 px-8 bg-primary text-white uppercase text-sm font-semibold transition hover:bg-opacity-80 rounded-2xl flex items-center justify-center gap-2">
                <span>Get started Today</span>
                <span class="material-symbols-outlined">arrow_right_alt</span>
            </a>
        </div>
    </div>
</section>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-10 my-10 wmargin section">
    <div class="pt-10 bg-primary">
        <div class="w-full lg:translate-x-[50px] flex flex-col items-end">
            
        </div>
    </div>
    <div class="flex flex-col lg:justify-end section lg:-translate-x-[80px]">
        <h3 class="font-black text-xl lg:text-3xl my-10">Our Mission &amp; Vision</h3>
        <p class="border-l-4 border-primary p-20 shadow-2xl shadow-gray-200 rounded-md text-base text-slate-700">
            Our goal is to create business solutions that drive sustained growth by implementing results-oriented strategies that significantly improve a company's chances of success. 
            <br><br> By leveraging innovative approaches and data-driven insights, we ensure businesses are not only equipped to thrive in competitive markets but also positioned for long-term stability and prosperity. 
        </p>
    </div>
</div>


