<div class="curved-bg animate__animated animate__fadeIn bg-center bg-no-repeat bg-cover bg-fixed" style="background-image: url('./images/hero.jpg')">
    <div class="flex items-center justify-center relative bg-secondary bg-opacity-90">
        <div class="section wmargin  flex flex-col items-center">
            <h1 class="font-black text-3xl xl:text-5xl text-white animate__animated animate__slideInUp">Ads & Social Media Management</h1>
            <div class="flex items-center mt-2">
                <span class="z-10 rounded-full h-3 w-3 bg-primary border-2 border-primary"></span>
                <span class="h-[2px] bg-primary w-16"></span>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="wmargin section">
        <div>
            <div class="flex flex-col gap-10 text-sm">
                <h2 class="font-black text-3xl text-secondary capitalize mt-2 tracking-wide">What we can do for you</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Sponsored Advertising</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">We offer a comprehensive suite of Sponsored Digital marketing services on Facebook, Instagram, LinkedIn, YouTube, Google My Business, Search Engine Marketing, Twitter, TikTok & other channels designed to boost your online presence, engage your target audience better, and drive real results.</p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Social Media Management</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">We will manage your social media pages, so you can focus on what you love. From content strategy to content creation, community management, and post scheduling on Facebook, Instagram, LinkedIn, WhatsApp, YouTube, Google My Business, Twitter, TikTok, and more </p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Content Marketing Strategy</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">A good content strategy should bridge the gap between the content you produce and what your consumers want. Content is the life blood of your business as it attracts tones of qualified leads and sales to your business when it’s done right. If you want to create the right type of prioritized content at the right time, then you need a winning content marketing strategy & management.</p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Graphics/Video-Animated Designs</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">We turn your brand into a visual masterpiece. Whether it's eye-catching graphics for Facebook, Instagram, Twitter, LinkedIn, or mesmerizing animated videos for TikTok, YouTube, and more – we've got you covered! Elevate your social media game with captivating visuals and engaging animations.</p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Global Brand, Global Attitude</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">As a global brand, we bring a world-class approach to every project, no matter the scale. Our passion is to help your business reach new heights in the digital landscape. Irrespective of your location anywhere in the world, we can work with you and create content that aligns with your audience, locally and globally, to help you achieve your business goals. Our commitment to excellence knows no borders. Let's make your brand a global success story together!</p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Technology Driven</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">We blend the art of creativity with the science of data-driven insights to supercharge your Sponsored Ads & Social Media Management. Our tech-savvy team leverages cutting-edge tools and strategies to propel your business forward. KreativeRock Digital: Where Technology Meets Success!</p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Blog Posts Publishing & Management</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">When it comes to publishing and managing blog posts, we're not just efficient – we're exceptional! Our team is dedicated to making your blog shine with relevant keywords, title headers, meta descriptions, and much more, while you focus on what you do best. Experience hassle- free blog management that elevates your organic online presence to the next level!</p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Landing Page with WIX</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">If you already have a Wix website or any existing web pages, we can create customized landing pages for you to streamline data collection. Additionally, we can set up Google Forms and other web pages seamlessly integrated with your existing website, making it easier for you to connect with and engage your customers effectively.</p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Excellent Weekly/Monthly Reporting</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">We provide you with in-depth insights, detailed performance metrics, and a clear overview of your digital campaigns. Stay informed, stay ahead with KreativeRock Digital, expect nothing less than excellent weekly/monthly reporting.</p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
