
<div class="curved-bg animate__animated animate__fadeIn bg-center bg-no-repeat bg-cover bg-fixed" style="background-image: url('./images/hero.jpg')">
    <div class="flex items-center justify-center relative bg-secondary bg-opacity-90">
        <div class="section wmargin  flex flex-col items-center">
            <h1 class="font-black text-3xl xl:text-5xl text-white animate__animated animate__slideInUp">Contact us</h1>
            <div class="flex items-center mt-2">
                <span class="z-10 rounded-full h-3 w-3 bg-primary border-2 border-primary"></span>
                <span class="h-[2px] bg-primary w-16"></span>
            </div>
        </div>
    </div>
</div>
    
<section>
    <div>
        <div class="section wmargin">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
                <div class="lg:col-span-1 lg:p-10 rounded-lg">
                    <div class="flex flex-col gap-y-7 h-full">
                        <h4 class="text-xl font-figtree font-bold text-indigo-950">Lets Get You Started</h4>
                        <div class="flex gap-3 items-start">
                            <span class="w-10 h-10 flex items-center justify-center bg-gray-100 rounded-full">
                                <span class="material-symbols-outlined opacity-75">schedule</span>
                            </span>
                            <div class="flex-1">
                                <h5 class="text-lg font-semibold">Schedule</h5>
                                 <p class="text-base text-opacity-90">Monday - Friday 8:00 - 4:00 </p>
                            </div>
                        </div>
                        <div class="flex gap-3 items-start">
                            <span class="w-10 h-10 flex items-center justify-center bg-gray-100 rounded-full">
                                <span class="material-symbols-outlined opacity-75">location_on</span>
                            </span>
                            <div class="flex-1">
                                <h5 class="text-lg font-semibold">Location</h5>
                                 <p class="text-base text-opacity-90">No. 77 Ojueleba Road, Surulere, Lagos State, Nigeria </p>
                            </div>
                        </div>
                        <div class="flex gap-3 items-start">
                            <span class="w-10 h-10 flex items-center justify-center bg-gray-100 rounded-full">
                                <span class="material-symbols-outlined opacity-75">call</span>
                            </span>
                            <div class="flex-1">
                                <h5 class="text-lg font-semibold">Call us</h5>
                                 <p class="text-base text-opacity-90">+2348094200003, +2348094200003 </p>
                            </div>
                        </div>
                        <div class="flex gap-3 items-start">
                            <span class="w-10 h-10 flex items-center justify-center bg-gray-100 rounded-full">
                                <span class="material-symbols-outlined opacity-75">email</span>
                            </span>
                            <div class="flex-1">
                                <h5 class="text-lg font-semibold">Email us</h5>
                                 <p class="text-base text-opacity-90">info@kreativerock.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-1">
                    <div class="bg-white p-10 shadow-2xl shadow-gray-200 rounded-md border">
                        <h2 class="text-4xl font-bold text-indigo-950 mb-4">Send us a Message</h2>
                        <form name="contactform">
                            <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 py-10">
                                <div class="form-group">
                                    <label class="control-label">Full Name</label>
                                    <input name="name" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Company Name</label>
                                    <input name="companyname" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input name="email" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Service</label>
                                    <select name="service" type="text" class="form-control">
                                        <option value=""> -- Select a service -- </option>
                                        <option value="Bulk SMS"> Bulk SMS </option>
                                        <option value="Two-way SMS"> Two-way SMS </option>
                                        <option value="Voice SMS "> Voice SMS </option>
                                        <option value="WhatsApp Broadcast"> WhatsApp Broadcast </option>
                                        <option value="Sponsored Ads"> Sponsored Ads </option>
                                        <option value="Programmatic Marketing"> Programmatic Marketing </option>
                                    </select>
                                </div>
                                <div class="form-group lg:col-span-2">
                                    <label class="control-label">Website URL</label>
                                    <input name="url" type="text" class="form-control">
                                </div>
                                <div class="form-group lg:col-span-2">
                                    <label class="control-label">Description</label>
                                    <textarea name="message" placeholder="Have additional message?" type="text" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <div>
                                <button type="button" name="submit" class="btn w-max animate__animated animate__slideInDown ">
                                    <span>Send Message</span>
                                    <span class="material-symbols-outlined">arrow_right_alt</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>