<div class="relative">
    <swiper-container init="false">
        <swiper-slide>
            <div class="min-h-[90vh] lg:min-h-screen pt-[100px] lg:pt-[20px] bg-cover bg-no-repeat flex items-center justify-center bg-gradient-to-br from-[#072a2b] to-[#3d8185]">
                <div class="wmargin py-30 xl:py-40 grid grid-cols-1 lg:grid-cols-2 xl:gap-x-20">
                    <div class="text-white 2xl:pr-20">
                        <h1 class="font-medium 2xl:font-black text-3xl xl:text-4xl font-figtree">Enhance Customer Engagement with Interactive Messaging Solutions.</h1>
                        <p class="my-5 2xl:my-10 text-base font-heebo opacity-85">Engage your audience like never before with our comprehensive communication solutions. Leverage the instant connectivity on all digital medium to provide real-time updates and personalized interactions.</p>
                        <ul class="flex flex-col gap-8 border-t border-gray-600 border-opacity-50 py-10">
                            <li class="flex gap-5 items-start">
                                <span class="h-4 w-4 rounded-full bg-transparent ring-4 ring-primary"></span>
                                <div class="flex flex-col gap-1">
                                    <h5 class="text-lg -mt-2">WhatsApp Conversational Commerce</h5>
                                    <div>Drive more engagement, sales and reach a wider audience!</div>
                                </div>
                            </li>   
                            <li class="flex gap-5 items-start">
                                <span class="h-4 w-4 rounded-full bg-transparent ring-4 ring-primary"></span>
                                <div class="flex flex-col gap-1">
                                    <h5 class="text-lg -mt-2">2-Way Interactive Texting with RCS on Android & iOS</h5>
                                    <div>Engage Smarter with RCS: Automation, Questionnaires, Keywords, and More!</div>
                                </div>
                            </li>   
                            <li class="flex gap-5 items-start">
                                <span class="h-4 w-4 rounded-full bg-transparent ring-4 ring-primary"></span>
                                <div class="flex flex-col gap-1 flex-1">
                                    <h5 class="text-lg -mt-2">Social Media Management CRM</h5>
                                    <div>Manage multiple social media accounts, plan and schedule your social media posts, manage comments and messages seamlessly, collaborate with team members & more</div>
                                </div>
                            </li> 
                            <li class="flex gap-5 items-start invisible">
                                <span class="h-4 w-4 rounded-full bg-transparent ring-4 ring-primary"></span>
                                <div class="flex flex-col gap-1">
                                    <h5 class="text-lg -mt-2">_Email</h5>
                                    <div>_Build relationships with well-crafted email campaigns.</div>
                                </div>
                            </li>
                        </ul>
                        <div>
                            <a href="../admin/login" type="button" name="submit" class="btn w-max animate__animated animate__slideInDown ">
                                <span>Get Started</span>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </a>
                        </div>
                    </div>
                    <div><img src="./images/slider_img3.webp" class="w-5/6 lg:animate-pulse-slow"></div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide> 
            <!--style="background-image: url('./images/banner.webp');"-->
            <div class="min-h-[90vh] lg:min-h-screen pt-[100px] lg:pt-[20px] bg-gradient-to-br from-[#17072b] to-[#453d85] bg-cover bg-no-repeat flex items-center justify-center">
                <div class="wmargin py-30 xl:py-40 grid grid-cols-1 lg:grid-cols-2 xl:gap-x-20">
                    <div class="text-white 2xl:pr-20">
                        <h1 class="font-medium 2xl:font-black text-3xl xl:text-4xl font-figtree">Real-Time Transactional Messaging Solutions!</h1>
                        <p class="my-5 2xl:my-10 text-base font-heebo opacity-85">Ensure timely delivery of transaction notifications, one-time passwords (OTPs), receipts, appointment reminders, tickets, travel itineraries, and more on multi-channels.</p>
                        <ul class="flex flex-col gap-8 border-t border-gray-600 border-opacity-50 py-10">
                            <li class="flex gap-5 items-start">
                                <span class="h-4 w-4 rounded-full bg-transparent ring-4 ring-primary"></span>
                                <div class="flex flex-col gap-1">
                                    <h5 class="text-lg -mt-2">1-Way SMS Transactional Messaging</h5>
                                    <div>Send plain transactional notifications, OTP codes, and more in real time.</div>
                                </div>
                            </li>   
                            <li class="flex gap-5 items-start">
                                <span class="h-4 w-4 rounded-full bg-transparent ring-4 ring-primary"></span>
                                <div class="flex flex-col gap-1">
                                    <h5 class="text-lg -mt-2">RCS Transactional Messaging on Android & iOS</h5>
                                    <div>Send rich media transactional notifications, receipts, OTP codes, and more in real time.</div>
                                </div>
                            </li>   
                            <li class="flex gap-5 items-start">
                                <span class="h-4 w-4 rounded-full bg-transparent ring-4 ring-primary"></span>
                                <div class="flex flex-col gap-1">
                                    <h5 class="text-lg -mt-2">WhatsApp Transactional Messaging</h5>
                                    <div>Send rich media transactional notifications, receipts, OTP codes, and more in real time.”</div>
                                </div>
                            </li>   
                        </ul>
                        <div>
                            <a href="../admin/login" type="button" name="submit" class="btn w-max animate__animated animate__slideInDown ">
                                <span>Get Started</span>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </a>
                        </div>
                    </div>
                    <div><img src="./images/slider_img2.webp" class="w-5/6 lg:animate-pulse-slow"></div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="min-h-[90vh] lg:min-h-screen pt-[100px] lg:pt-[20px] bg-gradient-to-br from-[#072a2b] to-[#3d8185] bg-cover bg-no-repeat flex items-center justify-center">
                <div class="wmargin py-30 xl:py-40 grid grid-cols-1 lg:grid-cols-2 xl:gap-x-20">
                    <div class="text-white 2xl:pr-20">
                        <h1 class="font-medium 2xl:font-black text-3xl xl:text-4xl font-figtree">Cutting-Edge Programmatic Marketing</h1>
                        <p class="my-5 2xl:my-10 text-base font-heebo opacity-85">Instant ad buying and selling across platforms and devices for real-time results.</p>
                        <ul class="flex flex-col gap-8 border-t border-gray-600 border-opacity-50 py-10">
                            <li class="flex gap-5 items-start">
                                <span class="h-4 w-4 rounded-full bg-transparent ring-4 ring-primary"></span>
                                <div class="flex flex-col gap-1">
                                    <h5 class="text-lg -mt-2">Demand-Side Platform (DSP)</h5>
                                    <div>Manage multiple ad exchanges through KreativeRock, streamlining the ad buying process.</div>
                                </div>
                            </li>   
                            <li class="flex gap-5 items-start">
                                <span class="h-4 w-4 rounded-full bg-transparent ring-4 ring-primary"></span>
                                <div class="flex flex-col gap-1 flex-1">
                                    <h5 class="text-lg -mt-2">Supply-Side Platform (SSP)</h5>
                                    <div>“Optimize your ad inventory and connecting with multiple ad exchanges and demand sources. Sell advertising space programmatically</div>
                                </div>
                            </li>    
                        </ul>
                        <div>
                            <a href="../admin/login" type="button" name="submit" class="btn w-max animate__animated animate__slideInDown ">
                                <span>Get Started</span>
                                <span class="material-symbols-outlined">arrow_right_alt</span>
                            </a>
                        </div>
                    </div>
                    <div><img src="./images/slider_img.webp" class="w-5/6 lg:animate-pulse-slow"></div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="min-h-[90vh] lg:min-h-screen  pt-[100px] lg:pt-[20px] bg-gradient-to-br from-[#17072b] to-[#453d85] bg-cover bg-no-repeat flex items-center justify-center">
                <div class="wmargin flex flex-col justify-center items-center gap-10 h-full">
                    <div class="text-white flex flex-col justify-center items-center">
                        <h1 class="font-medium 2xl:font-black text-3xl xl:text-5xl font-figtree text-center">Exceptional Support Services</h1>
                        <p class="my-5 2xl:my-10 text-base font-heebo opacity-85 text-center">We are dedicated to providing unparalleled support for all your marketing needs.</p>
                        <div>
                            <a href="../admin/login" type="button" name="submit" class="btn w-max animate__animated animate__slideInDown ">
                                <span>Contact us now!</span>
                            </a>
                        </div>
                    </div>
                    <div><img src="./images/slider_img4.webp" class="w-3/6 lg:animate-pulse-slow mx-auto"></div>
                </div>
            </div>
        </swiper-slide>
        
    </swiper-container>

    <div name="prev" class="absolute top-1/3 left-0 z-10 flex items-center h-10 w-10 justify-center text-gray-300 mx-1 lg:mx-3 p-5 lg:p-8 cursor-pointer bg-gray-500/40 lg:hover:bg-gray-500/60 transition duration-300 rounded-full">
        <span class="material-symbols-outlined">arrow_back_ios</span>
    </div>
    <div name="next" class="absolute top-1/3 right-0 z-10 flex items-center h-10 w-10 justify-center text-gray-300 mx-1 lg:mx-3 p-5 lg:p-8 cursor-pointer bg-gray-500/40 lg:hover:bg-gray-500/60 transition duration-300 rounded-full">
        <span class="material-symbols-outlined">arrow_forward_ios</span>
    </div>
</div>

<div class="bg-white">
    <div class="wmargin section lg:flex lg:flex-col">
        <div class="pb-20 lg:w-2/5">
            <h2 class="text-4xl font-bold text-indigo-950 mb-4">Our Services</h2>
            <p class="text-gray-500 text-base font-light">Whether you are looking to send notifications to your users or open an interactive session with them, our messaging API products give you the flexibility that you need to employ the right solution.</p>
        </div>
        <div class="lg:flex-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <div class="bg-white p-6 rounded-2xl hover:shadow-md text-center group border border transition ease-in duration-300">
                <div class="flex justify-center mb-7">
                    <img src="./images/icons/bulk_sms.svg" alt="Bulk & Two-way SMS Icon" class="w-20">
                </div>
                <h3 class="text-xl font-semibold text-gray-700 mb-2">Two-Way Texting</h3>
                <p class="text-gray-500 mb-16">Send branded messages to multiple numbers and open a two-way line of communication with your users.</p>
                <a href="./services-text" class="text-gray-400 font-medium group-hover:text-orange-500 hover:underline">Learn more</a>
            </div>
            <!--<div class="bg-white p-6 rounded-2xl hover:shadow-md text-center group border border-transparent transition ease-in duration-300">-->
            <!--    <div class="flex justify-center mb-7">-->
            <!--        <img src="./images/icons/voice-sms.png" alt="Voice SMS Icon" class="w-20">-->
            <!--    </div>-->
            <!--    <h3 class="text-xl font-semibold text-gray-700 mb-2">Voice SMS</h3>-->
            <!--    <p class="text-gray-500 mb-4">Deliver voice messages to your users to ensure they receive important information instantly.</p>-->
            <!--    <a href="./services-text" class="text-gray-400 font-medium group-hover:text-orange-500 hover:underline">Learn more</a>-->
            <!--</div>-->
            <!--<div class="bg-white p-6 rounded-2xl hover:shadow-md text-center group border border-transparent transition ease-in duration-300">-->
            <!--    <div class="flex justify-center mb-7">-->
            <!--        <img src="./images/icons/smartphone.png" alt="Transactional Messaging Icon" class="w-20">-->
            <!--    </div>-->
            <!--    <h3 class="text-xl font-semibold text-gray-700 mb-2">Transactional Messaging</h3>-->
            <!--    <p class="text-gray-500 mb-4">Send real-time notifications and updates via WhatsApp and SMS, from order confirmations to important alerts.</p>-->
            <!--    <a href="./services-text" class="text-gray-400 font-medium group-hover:text-orange-500 hover:underline">Learn more</a>-->
            <!--</div>-->
            <div class="bg-white p-6 rounded-2xl hover:shadow-md text-center group border border transition ease-in duration-300">
                <div class="flex justify-center mb-7">
                    <img src="./images/icons/broadcast.png" alt="WhatsApp Broadcast Icon" class="w-20">
                </div>
                <h3 class="text-xl font-semibold text-gray-700 mb-2">WhatsApp Commerce</h3>
                <p class="text-gray-500 mb-16">Broadcast messages to your users on WhatsApp, keeping them informed and engaged.</p>
                <a href="#" class="text-gray-400 font-medium group-hover:text-orange-500 hover:underline">Learn more</a>
            </div>
            <!--<div class="bg-white p-6 rounded-2xl hover:shadow-md text-center group border border-transparent transition ease-in duration-300">-->
            <!--    <div class="flex justify-center mb-7">-->
            <!--        <img src="./images/icons/ads.png" alt="Sponsored Ads Icon" class="w-20">-->
            <!--    </div>-->
            <!--    <h3 class="text-xl font-semibold text-gray-700 mb-2">Sponsored Ads</h3>-->
            <!--    <p class="text-gray-500 mb-4">Utilize our platform to deliver targeted ads and maximize your marketing ROI.</p>-->
            <!--    <a href="#" class="text-gray-400 font-medium group-hover:text-orange-500 hover:underline">Learn more</a>-->
            <!--</div>-->
            <div class="bg-white p-6 rounded-2xl hover:shadow-md text-center group border border transition ease-in duration-300">
                <div class="flex justify-center mb-7">
                    <img src="./images/icons/programmatic.png" alt="Programmatic Marketing Icon" class="w-20">
                </div>
                <h3 class="text-xl font-semibold text-gray-700 mb-2">Programmatic Marketing</h3>
                <p class="text-gray-500 mb-16">Automate your ad buying process with our programmatic marketing solutions.</p>
                <a href="#" class="text-gray-400 font-medium group-hover:text-orange-500 hover:underline">Learn more</a>
            </div>
            <div class="bg-white p-6 rounded-2xl hover:shadow-md text-center group border border transition ease-in duration-300">
                <div class="flex justify-center mb-7">
                    <img src="./images/icons/project-manager.png" alt="Social Media Management Icon" class="w-20">
                </div>
                <h3 class="text-xl font-semibold text-gray-700 mb-2">Social Media Management</h3>
                <p class="text-gray-500 mb-16">Manage your social media presence effectively to boost engagement and grow your audience.</p>
                <a href="#" class="text-gray-400 font-medium group-hover:text-orange-500 hover:underline">Learn more</a>
            </div>
        </div>
    </div>
</div>

<section class="bg-gradient-to-br from-[#072a2b] to-[#3d8185]">
    <div class="section bg-no-repeat bg-bottom">
        <div class="wmargin text-white">
            <div class="mb-20">
                <h5  class="text-sm font-bold text-primary border-l-2 border-primary pl-3 uppercase">Multi-Channel Communication</h5>
                <h2  class="font-black text-4xl capitalize mt-2 tracking-wide">Why Choose Our Messaging Solutions?</h2>
            </div>
            <ul class="grid grid-cols-1 lg:grid-cols-2 gap-10 border-t border-gray-500 border-opacity-80 py-10">
                <li class="flex gap-5 items-start">
                  <span class="h-4 w-4 rounded-full bg-transparent border-4 border-white"></span>
                  <div class="flex flex-col gap-2 flex-1 px-10">
                    <h5 class="text-xl font-bold -mt-2">Drive Engagement with Promotional Campaigns</h5>
                    <div class="text-sm">
                      Reach your audience with impactful promotional messages through WhatsApp and SMS. Enhance brand awareness, drive sales, and keep your customers informed about the latest offers and updates.
                    </div>
                  </div>
                </li>
                <li class="flex gap-5 items-start">
                  <span class="h-4 w-4 rounded-full bg-transparent border-4 border-white"></span>
                  <div class="flex flex-col gap-2 flex-1 px-10">
                    <h5 class="text-xl font-bold -mt-2">Ensure Reliability with Transactional Messaging</h5>
                    <div class="text-sm">
                      Provide your customers with real-time notifications and updates through secure transactional messages via WhatsApp and SMS. From order confirmations to important alerts, keep your customers informed and engaged with timely communication.
                    </div>
                  </div>
                </li>
                <li class="flex gap-5 items-start">
                  <span class="h-4 w-4 rounded-full bg-transparent border-4 border-white"></span>
                  <div class="flex flex-col gap-2 flex-1 px-10">
                    <h5 class="text-xl font-bold -mt-2">Engage Across Platforms</h5>
                    <div class="text-sm">
                      Seamlessly connect with your audience across multiple channels, including WhatsApp, SMS, Email, and Social Media. Our integrated approach ensures consistent and effective communication.
                    </div>
                  </div>
                </li>
                <li class="flex gap-5 items-start">
                  <span class="h-4 w-4 rounded-full bg-transparent border-4 border-white"></span>
                  <div class="flex flex-col gap-2 flex-1 px-10">
                    <h5 class="text-xl font-bold -mt-2">Precision Marketing</h5>
                    <div class="text-sm">
                      Maximize your reach with advanced targeting capabilities. Utilize our programmatic marketing solutions to deliver personalized messages to the right audience at the right time.
                    </div>
                  </div>
                </li>
                <li class="flex gap-5 items-start">
                  <span class="h-4 w-4 rounded-full bg-transparent border-4 border-white"></span>
                  <div class="flex flex-col gap-2 flex-1 px-10">
                    <h5 class="text-xl font-bold -mt-2">Dedicated Assistance</h5>
                    <div class="text-sm">
                      Our support team is always available to assist you with your marketing needs. From setup to execution, we ensure your campaigns run smoothly and effectively.
                    </div>
                  </div>
                </li>
                <li class="flex gap-5 items-start">
                  <span class="h-4 w-4 rounded-full bg-transparent border-4 border-white"></span>
                  <div class="flex flex-col gap-2 flex-1 px-10">
                    <h5 class="text-xl font-bold -mt-2">Data-Driven Decisions</h5>
                    <div class="text-sm">
                      Gain valuable insights into your campaign performance with our detailed analytics and reporting. Make informed decisions and continuously improve your marketing strategies.
                    </div>
                  </div>
                </li>
                <li class="flex gap-5 items-start">
                  <span class="h-4 w-4 rounded-full bg-transparent border-4 border-white"></span>
                  <div class="flex flex-col gap-2 flex-1 px-10">
                    <h5 class="text-xl font-bold -mt-2">Trusted Communication</h5>
                    <div class="text-sm">
                      Protect your customer data with our secure and compliant messaging solutions. Ensure privacy and trust in every interaction.
                    </div>
                  </div>
                </li>
              </ul>
        </div>
    </div>
</section>

<section id="about" class="py-20">
        <div class="wmargin">

            <div class="grid lg:grid-cols-2 items-center gap-6">
                <div class="lg:ms-5 ms-8">
                    <div>
                        <span
                            class="text-sm text-primary uppercase font-semibold tracking-wider text-default-950">Services</span>
                    </div>
                    <h2 class="text-3xl md:text-4xl/tight font-semibold text-black mt-4">Get Started In Minutes:
                        Click on register, Create Your Profile</h2>
                    <p class="text-base font-normal text-muted mt-6"> With a comprehensive suite of services including Bulk SMS, WhatsApp Campaigns, Sponsored Advertising, Programmatic Marketing, and more, we empower businesses to connect with their audience effectively.</p>

                    <div class="grid lg:grid-cols-3 grid-cols-1 gap-8 mt-9">

                        <div class="">
                            <div class="flex items-center justify-start">
                                <div
                                    class="items-center justify-center flex bg-green-50 rounded-full h-20 w-20 border border-dashed border-green-50">
                                    <i data-lucide="smartphone" class="h-8 w-8 text-black"></i>
                                </div>
                            </div>
                            <h1 class="text-xl font-semibold pt-6">1. Click</h1>
                            <p class="text-base text-gray-600 font-normal mt-2">Get started by visiting the registration page.</p>
                        </div>

                        <div class="">
                            <div class="flex items-center justify-start">
                                <div
                                    class="items-center justify-center flex bg-red-50 rounded-full h-20 w-20 border border-dashed border-red-50">
                                    <i data-lucide="file-text" class="h-8 w-8 text-black"></i>
                                </div>
                            </div>
                            <h1 class="text-xl font-semibold  pt-6">2. Set Profile</h1>
                            <p class="text-base text-gray-600 font-normal mt-2">Join the millions already benefitting.</p>
                        </div>

                        <div class="">
                            <div class="flex items-center justify-start">
                                <div
                                    class="items-center justify-center flex bg-primary/10 rounded-full h-20 w-20 border border-dashed border-primary/10">
                                    <i data-lucide="rocket" class="h-8 w-8 text-black"></i>
                                </div>
                            </div>
                            <h1 class="text-xl font-semibold pt-6">3. Start</h1>
                            <p class="text-base text-gray-600 font-normal mt-2">Explore all benefits and features available.</p>
                        </div>
                    </div>
                </div>

                <div class="flex items-center">
                    <img src="./images/mock.png" class="h-[600px] rounded-xl mx-auto"
                        alt="feature-image">
                </div>

            </div>
        </div>
    </section>

<section class="py-20 bg-gray-50">
    <div class="wmargin relative">
        <div class="">
            <div class="text-center max-w-xl mx-auto">
                <h3 class="text-3xl md:text-4xl/tight font-semibold">Trusted by Leading Companies</h3>
            </div>
        </div>

        <div class="grid md:grid-cols-6 grid-cols-2 justify-center gap-[30px] mt-14">
            <div class="mx-auto py-4">
                <img src="./images/meta.png" class="h-10 grayscale" alt="">
            </div>

            <div class="mx-auto py-4">
                <img src="./images/whatsapp.png" class="h-10 grayscale" alt="">
            </div>

            <div class="mx-auto py-4">
                <img src="./images/gushup.png" class="h-10 grayscale" alt="">
            </div>

            <div class="mx-auto py-4">
                <img src="./images/flutterwave.png" class="h-10 grayscale" alt="">
            </div>

            <div class="mx-auto py-4">
                <img src="./images/paystack.png" class="h-10 grayscale" alt="">
            </div>
        </div>
    </div>
</section>

<!--<section class="my-20 wmargin flex flex-col lg:flex-row items-center gap-10 w-full">-->
<!--    <div class="flex items-center flex-1">-->
<!--        <div class="flex-grow border-t border-gray-300"></div>-->
<!--        <span class="mx-4 text-gray-500 font-bold text-xl font-heebo">Trusted by Business Worldwide</span>-->
<!--        <div class="flex-grow border-t border-gray-300"></div>-->
<!--    </div>-->
<!--    <div class="grid grid-cols-3 gap-5 flex-1">-->
<!--        <div class="flex items-center justify-center">-->
<!--            <img src="./images/completesport.png" alt="complete sport logo" class="w-20">-->
<!--        </div>-->
<!--        <div class="flex items-center justify-center">-->
<!--            <img src="./images/centerforus.png" alt="center for us immigration services logo" class="w-24">-->
<!--        </div>-->
<!--        <div class="flex items-center justify-center">-->
<!--            <img src="./images/purechem.png" alt="pure chem industries logo" class="w-20">-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section>
    <div class="section bg-fixed" style="backgrounds-image: url('./images/bg-sc1.png');">
        <div class="wmargin">
            <div class="my-20">
                <h5  class="text-sm font-bold text-primary border-l-2 border-primary pl-3 uppercase"> Elevate Your Marketing </h5>
                <h2  class="font-black text-4xl text-secondary capitalize mt-2 tracking-wide">Communication Channel For All Your Ideas</h2>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-2">
                <div class="bg-white shadow-sm p-5 border border hover:border-primary hover:shdow-xl transition duration-500">
                    <div class=" flex flex-col items-center gap-5 overflow-hidden">
                        <img src="./images/icons/reporting.png">
                        <h4 class="capitalize font-bold text-lg pb-5">Effortless Engagement</h4>
                    </div>
                    <div class="text-sm text-center  text-gray-500 p-5 border-t border-gray-200">
                        <p> Enhance customer interactions with seamless communication across WhatsApp, SMS, Email, and Social Media Management. </p>
                    </div>
                </div>
                <div class="bg-white shadow-sm p-5 border border hover:border-primary hover:shadow-xl transition duration-500">
                    <div class=" flex flex-col items-center gap-5 overflow-hidden">
                        <img src="./images/icons/compliance.png">
                        <h4 class="capitalize font-bold text-lg pb-5">Instant Notifications</h4>
                    </div>
                    <div class="text-sm text-center  text-gray-500 p-5  border-t border-gray-200">
                        <p>Ensure your customers receive important updates and alerts promptly through reliable transactional messaging.</p>
                    </div>
                </div>
                <div class="bg-white shadow-sm p-5 border border hover:border-primary hover:shadow-xl transition duration-500">
                    <div class=" flex flex-col items-center gap-5 overflow-hidden">
                        <img src="./images/icons/shape.png">
                        <h4 class="capitalize font-bold text-lg pb-5">Precision Marketing </h4>
                    </div>
                    <div class="text-sm text-center  text-gray-500 p-5  border-t border-gray-200">
                        <p>Maximize your reach and ROI with advanced programmatic marketing, using DSP and SSP to target the right audience effectively.</p>
                    </div>
                </div>
                <div class="bg-white shadow-sm p-5 border border hover:border-primary hover:shadow-xl transition duration-500">
                    <div class=" flex flex-col items-center gap-5 overflow-hidden">
                        <img src="./images/icons/lock.png">
                        <h4 class="capitalize font-bold text-lg pb-5"> Exceptional Service </h4>
                    </div>
                    <div class="text-sm text-center  text-gray-500 p-5  border-t border-gray-200">
                        <p>Experience peace of mind with our dedicated support team, available 24/7 to assist with all your marketing needs.</p>
                    </div>
                </div>
                <div class="bg-white shadow-sm p-5 border border hover:border-primary hover:shadow-xl transition duration-500">
                    <div class=" flex flex-col items-center gap-5 overflow-hidden">
                        <img src="./images/icons/trend.png">
                        <h4 class="capitalize font-bold text-lg pb-5"> Captivating Campaign</h4>
                    </div>
                    <div class="text-sm text-center  text-gray-500 p-5  border-t border-gray-200">
                        <p>Drive action and engagement with creative and compelling marketing campaigns designed to resonate with your audience.</p>
                    </div>
                </div>
                <div class="bg-white shadow-sm p-5 border border hover:border-primary hover:shadow-xl transition duration-500">
                    <div class=" flex flex-col items-center gap-5 overflow-hidden">
                        <img src="./images/icons/person.png">
                        <h4 class="capitalize font-bold text-lg pb-5"> Integrated Marketing </h4>
                    </div>
                    <div class="text-sm text-center  text-gray-500 p-5  border-t border-gray-200">
                        <p>Strengthen your brand presence with cohesive marketing strategies across all digital platforms for a unified customer experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section>-->
<!--    <div class="section bg-no-repeat bg-bottom">-->
<!--        <div class="wmargin flex flex-col lg:flex-row lg:items-start lg:gap-x-40">-->
<!--            <div class="relative lg:w-2/6 animate-pulse-slow ">-->
<!--                <div class="relative border-r-8 border-primary h-[300px] lg:h-[500px] rounded-tl-3xl rounded-bl-3xl overflow-hidden">-->
<!--                    <img src="./images/hero-bg.jpg" alt="Main Image" class=" w-full h-full object-cover object-center">-->
<!--                </div>-->
<!--                <div class="absolute bottom-0 right-0 transform lg:translate-x-[100px] translate-y-[50px] w-64 h-64 bg-white rounded-full shadow-lg border-[10px] border-white">-->
<!--                    <img src="./images/hero.jpg" alt="Secondary Image" class="rounded-full w-full h-full object-cover">-->
<!--                </div>-->
<!--            </div>              -->
<!--            <div class="lg:px-20 flex-1">-->
<!--                <div class="py-20">-->
<!--                    <h5  class="text-sm font-boldtext-primary border-l-2 border-primary pl-3 uppercase">Promotional Messaging</h5>-->
<!--                    <h2  class="font-black text-4xl capitalize mt-2 tracking-wide text-indigo-950">Comprehensive Messaging Services</h2>-->
<!--                </div>-->
<!--                <ul class="grid grid-cols-1 gap-10">-->
<!--                    <li class="flex gap-5 items-start">-->
<!--                        <div class="flex flex-col gap-2">-->
<!--                            <h5 class="text-xl font-bold -mt-2">Drive Engagement with Promotional Campaigns</h5>-->
<!--                            <div class="text-sm">Reach your audience with impactful promotional messages through WhatsApp and SMS. Enhance brand awareness, drive sales, and keep your customers informed about the latest offers and updates.</div>-->
<!--                        </div>-->
<!--                    </li>   -->
<!--                    <li class="flex gap-5 items-start">-->
<!--                        <div class="flex flex-col gap-2">-->
<!--                            <h5 class="text-xl font-bold -mt-2">Ensure Reliability with Transactional Messaging</h5>-->
<!--                            <div class="text-sm">Provide your customers with real-time notifications and updates through secure transactional messages via WhatsApp and SMS. From order confirmations to important alerts, keep your customers informed and engaged with timely communication.</div>-->
<!--                        </div>-->
<!--                    </li>    -->
<!--                </ul>-->
<!--                <div class="mt-10">-->
<!--                    <a href="../admin/login" type="button" name="submit" class="btn w-max animate__animated animate__slideInDown ">-->
<!--                        <span>Get Started</span>-->
<!--                        <span class="material-symbols-outlined">arrow_right_alt</span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section>
    <div class="bg-gray-50">
        <div class="section wmargin">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
                <div class="lg:col-span-1 lg:p-10 rounded-lg">
                    <div class="flex flex-col gap-y-7 h-full">
                        <h4 class="text-xl font-figtree font-bold text-indigo-950">Lets Get You Started</h4>
                        <div class="flex gap-3 items-start">
                            <span class="w-10 h-10 flex items-center justify-center bg-white rounded-full">
                                <span class="material-symbols-outlined opacity-75">schedule</span>
                            </span>
                            <div class="flex-1">
                                <h5 class="text-lg font-semibold">Schedule</h5>
                                 <p class="text-base text-opacity-90">Monday - Friday 8:00 - 4:00 </p>
                            </div>
                        </div>
                        <div class="flex gap-3 items-start">
                            <span class="w-10 h-10 flex items-center justify-center bg-white rounded-full">
                                <span class="material-symbols-outlined opacity-75">location_on</span>
                            </span>
                            <div class="flex-1">
                                <h5 class="text-lg font-semibold">Location</h5>
                                 <p class="text-base text-opacity-90">No. 77 Ojueleba Road, Surulere, Lagos State, Nigeria </p>
                            </div>
                        </div>
                        <div class="flex gap-3 items-start">
                            <span class="w-10 h-10 flex items-center justify-center bg-white rounded-full">
                                <span class="material-symbols-outlined opacity-75">call</span>
                            </span>
                            <div class="flex-1">
                                <h5 class="text-lg font-semibold">Call us</h5>
                                 <p class="text-base text-opacity-90">+2348094200003, +2348094200003 </p>
                            </div>
                        </div>
                        <div class="flex gap-3 items-start">
                            <span class="w-10 h-10 flex items-center justify-center bg-white rounded-full">
                                <span class="material-symbols-outlined opacity-75">email</span>
                            </span>
                            <div class="flex-1">
                                <h5 class="text-lg font-semibold">Email us</h5>
                                 <p class="text-base text-opacity-90">info@kreativerock.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-1">
                    <div class="bg-white p-10 shadow-2xl shadow-gray-200 rounded-md">
                        <h2 class="text-4xl font-bold text-indigo-950 mb-4">Send us a Message</h2>
                        <form class="contactform">
                            <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 py-10">
                                <div class="form-group">
                                    <label class="control-label">Full Name</label>
                                    <input name="name" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Company Name</label>
                                    <input name="companyname" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Position in Company</label>
                                    <input name="text" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input name="email" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Phone</label>
                                    <input name="phone" type="tel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Service</label>
                                    <select name="service" type="text" class="form-control">
                                        <option value=""> -- Select a service -- </option>
                                        <option value="Bulk SMS"> Bulk SMS </option>
                                        <option value="Two-way SMS"> Two-way SMS </option>
                                        <option value="Voice SMS "> Voice SMS </option>
                                        <option value="WhatsApp Broadcast"> WhatsApp Broadcast </option>
                                        <option value="Sponsored Ads"> Sponsored Ads </option>
                                        <option value="Programmatic Marketing"> Programmatic Marketing </option>
                                    </select>
                                </div>
                                <div class="form-group lg:col-span-2">
                                    <label class="control-label">Website URL</label>
                                    <input name="url" type="text" class="form-control">
                                </div>
                                <div class="form-group lg:col-span-2">
                                    <label class="control-label">Description</label>
                                    <textarea name="message" placeholder="Have additional message?" type="text" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <div>
                                <button type="button" name="submit" class="btn w-max animate__animated animate__slideInDown ">
                                    <span>Send Message</span>
                                    <span class="material-symbols-outlined">arrow_right_alt</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
