<div class="curved-bg animate__animated animate__fadeIn bg-center bg-no-repeat bg-cover bg-fixed" style="background-image: url('./images/hero.jpg')">
    <div class="flex items-center justify-center relative bg-secondary bg-opacity-90">
        <div class="section wmargin  flex flex-col items-center">
            <h1 class="font-black text-3xl xl:text-5xl text-white animate__animated animate__slideInUp">Pricing</h1>
            <div class="flex items-center mt-2">
                <span class="z-10 rounded-full h-3 w-3 bg-primary border-2 border-primary"></span>
                <span class="h-[2px] bg-primary w-16"></span>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="wmargin section text-center">
        <p class="text-sm font-bold text-primary uppercase">For you</p>
        <h2 class="font-medium text-4xl capitalize mt-2 tracking-wide text-indigo-950">Flexible plans that grow with you</h2>
    </div>
    <div class="wmargin section grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-4 md:px-16 py-16">
        
        <!-- 1-Way Bulk SMS -->
        <div class="bg-white p-6 lg:p-10 lg:min-h-[500px] rounded-lg shadow-sm text-center border-2 border-gray-100 hover:border-secondary transition duration-500  flex flex-col justify-between">
            <div>
                <h3 class="text-xl font-black mb-2">1-Way Bulk SMS</h3>
                <p class="text-gray-600">Basic features for up to 10 users.</p>
                <ul class="text-left flex flex-col gap-3 text-sm text-slate-500 my-7">
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Sending ID</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Unlimited Contact Upload</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Customer Support</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Reporting</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Contact Upload</li>
                </ul>
            </div>
            <a href="#" class="bg-black text-white px-6 py-2 rounded-full block">Start Free Trial</a>
        </div>
        
        <!-- 2-Way Interactive SMS -->
        <div class="bg-white p-6 lg:p-10 lg:min-h-[600px] rounded-lg shadow-sm text-center border-2 border-gray-100 hover:border-secondary transition duration-500  flex flex-col justify-between">
            <div>
                <h3 class="text-xl font-black mb-2">2-Way Interactive SMS</h3>
                <p class="text-gray-600">Interactive features for enhanced engagement.</p>
                <ul class="text-left flex flex-col gap-3 text-sm text-slate-500 my-7">
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>Customer Support</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>Reporting</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>Unlimited Contact Upload</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>Texting Automation</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>Interactive Texting Feature</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>Sending ID</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>Contact Upload</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>500 Contacts – 9,999 Contacts</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>10,000 Contacts – 49,999 Contacts</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-orange-500 mr-2">check_circle</span>50,000 Contacts & Above</li>
                </ul>
            </div>
            <a href="#" class="bg-black text-white px-6 py-2 rounded-full block">Start Free Trial</a>
        </div>
        
        <!-- Voice SMS (Robo) -->
        <div class="bg-white p-6 lg:p-10 lg:min-h-[600px] rounded-lg shadow-sm text-center border-2 border-gray-100 hover:border-secondary transition duration-500  flex flex-col justify-between">
            <div>
                <h3 class="text-xl font-black mb-2">Voice SMS (Robo)</h3>
                <p class="text-gray-600">Deliver your message with a personal touch.</p>
                <ul class="text-left flex flex-col gap-3 text-sm text-slate-500 my-7">
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Customer Support</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Reporting</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Re-recorded Voice Upload</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Sending ID</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Unlimited Contact Upload</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>500 Contacts – 9,999 Contacts</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>10,000 Contacts – 49,999 Contacts</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>50,000 Contacts & Above</li>
                </ul>
            </div>
            <a href="#" class="bg-black text-white px-6 py-2 rounded-full block">Start Free Trial</a>
        </div>

        <!-- WhatsApp Broadcast -->
        <div class="bg-white p-6 lg:p-10 lg:min-h-[600px] rounded-lg shadow-sm text-center border-2 border-gray-100 hover:border-secondary transition duration-500  flex flex-col justify-between">
            <div>
                <h3 class="text-xl font-black mb-2">WhatsApp Messaging</h3>
                <p class="text-gray-600">Engage with your audience on WhatsApp.</p>
                <ul class="text-left flex flex-col gap-3 text-sm text-slate-500 my-7">
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Easy Integration</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Wide Reach</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Reporting</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Customer Support</li>
                </ul>
            </div>
            <a href="#" class="bg-black text-white px-6 py-2 rounded-full block">Start Free Trial</a>
        </div>

        <!-- Sponsored Ads -->
        <div class="bg-white p-6 lg:p-10 lg:min-h-[600px] rounded-lg shadow-sm text-center border-2 border-gray-100 hover:border-secondary transition duration-500  flex flex-col justify-between">
            <div>
                <h3 class="text-xl font-black mb-2">Sponsored Ads</h3>
                <p class="text-gray-600">Maximize your marketing ROI.</p>
                <ul class="text-left flex flex-col gap-3 text-sm text-slate-500 my-7">
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Targeted Advertising</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Detailed Reporting</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Customer Support</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>ROI Optimization</li>
                </ul>
            </div>
            <a href="#" class="bg-black text-white px-6 py-2 rounded-full block">Start Free Trial</a>
        </div>

        <!-- Programmatic Marketing -->
        <div class="bg-white p-6 lg:p-10 lg:min-h-[600px] rounded-lg shadow-sm text-center border-2 border-gray-100 hover:border-secondary transition duration-500  flex flex-col justify-between">
            <div>
                <h3 class="text-xl font-black mb-2">Programmatic Marketing</h3>
                <p class="text-gray-600">Automate your ad campaigns.</p>
                <ul class="text-left flex flex-col gap-3 text-sm text-slate-500 my-7">
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Advanced Targeting</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Real-time Bidding</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Performance Tracking</li>
                    <li class="flex items-center"><span class="material-symbols-outlined text-green-500 mr-2">check_circle</span>Customer Support</li>
                </ul>
            </div>
            <a href="#" class="bg-black text-white px-6 py-2 rounded-full block">Start Free Trial</a>
        </div>
    </div>

</section>