<div class="curved-bg animate__animated animate__fadeIn bg-center bg-no-repeat bg-cover bg-fixed" style="background-image: url('./images/hero.jpg')">
    <div class="flex items-center justify-center relative bg-secondary bg-opacity-90">
        <div class="section wmargin  flex flex-col items-center">
            <h1 class="font-black text-3xl xl:text-5xl text-white animate__animated animate__slideInUp">Texting Services</h1>
            <div class="flex items-center mt-2">
                <span class="z-10 rounded-full h-3 w-3 bg-primary border-2 border-primary"></span>
                <span class="h-[2px] bg-primary w-16"></span>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="wmargin section">
        <div>
            <div class="flex flex-col gap-10 text-sm">
                <h2 class="font-black text-3xl text-secondary capitalize mt-2 tracking-wide">Mobile Texting Services</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">1-Way Texting (Bulk SMS)</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">Customize your Senders ID & personalize communications with your audience. Send Bulk SMS and monitor your SMS delivery with our real time reporting.</p>
                        <!--<span class="material-symbols-outlined opacity-60">more_horiz</span>-->
                        <button type="button" class="btn w-max">Get started</button>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Interactive Texting(2-Way)</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">Send and receive SMS messages with your Android smartphone users in real time. Engage in meaningful conversations with your customers, making interactions rich, simplified, and purposeful. </p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                    <div class="bg-white drop-shadow-md flex flex-col gap-7 hover:drop-shadow-xl border-primary items-center justify-center lg:border px-10 py-12 rounded-md text-center transtion">
                        <span class="rounded-full mx-auto h-12 w-12 text-black flex items-center justify-center">
                            <span class="material-symbols-outlined opacity-70 text-amber-600" style="font-size: 50px;">workspace_premium</span>
                        </span>
                        <h5 class="text-xl font-bold">Voice SMS(Robo Calling)</h5>
                        <p class="text-sm text-gray-500 tracking-wide leading-normal">Amplify Your Brand's Voice, Ignite Engagement, and Connect with Your Audience on a Whole New Level. Stand out, be heard, and create unforgettable brand experiences with Voice SMS by KreativeRock!</p>
                        <span class="material-symbols-outlined opacity-60">more_horiz</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wmargin section">
        <h2 class="text-3xl font-bold text-center mb-10">Use Cases</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="bg-white p-8 rounded-lg shadow-md shadow-gray-100 text-center border">
                <h3 class="text-lg font-semibold mb-2">Appointment Confirmations & Reminders</h3>
                <p class="text-gray-600 mb-4">Stay updated with details of your next appointment. Never miss an appointment ever again.</p>
            </div>
            <div class="bg-white p-8 rounded-lg shadow-md shadow-gray-100 text-center border">
                <h3 class="text-lg font-semibold mb-2">SMS Surveys & Questionnaires</h3>
                <p class="text-gray-600 mb-4">Get insights through constructive feedback from your customers to improve & grow your business.</p>
            </div>
            <div class="bg-white p-8 rounded-lg shadow-md shadow-gray-100 text-center border">
                <h3 class="text-lg font-semibold mb-2">Opt-in/Opt-Out Campaigns</h3>
                <p class="text-gray-600 mb-4">Run ethical SMS marketing by allowing your audience to opt-in & opt-out of receiving SMS messages.</p>
            </div>
            <div class="bg-white p-8 rounded-lg shadow-md shadow-gray-100 text-center border">
                <h3 class="text-lg font-semibold mb-2">SMS Contests</h3>
                <p class="text-gray-600 mb-4">Carry your audience along by creating a poll to accept votes using a set of keywords.</p>
            </div>
            <div class="bg-white p-8 rounded-lg shadow-md shadow-gray-100 text-center border">
                <h3 class="text-lg font-semibold mb-2">Registrations</h3>
                <p class="text-gray-600 mb-4">Allow customers to register for your event by sending an SMS to a number using a set of keywords.</p>
            </div>
            <div class="bg-white p-8 rounded-lg shadow-md shadow-gray-100 text-center border">
                <h3 class="text-lg font-semibold mb-2">Customer Support</h3>
                <p class="text-gray-600 mb-4">Interacting with your customers and providing them the support they require via texting.</p>
            </div>
            <div class="bg-white p-8 rounded-lg shadow-md shadow-gray-100 text-center border">
                <h3 class="text-lg font-semibold mb-2">Mass Texting</h3>
                <p class="text-gray-600 mb-4">Reach more customers across the globe faster. Build your relationships.</p>
            </div>
            <div class="bg-white p-8 rounded-lg shadow-md shadow-gray-100 text-center border">
                <h3 class="text-lg font-semibold mb-2">Trivia</h3>
                <p class="text-gray-600 mb-4">Create single or multiple question trivia games, quizzes & riddles via texting to engage your audience better.</p>
            </div>
            <div class="bg-white p-8 rounded-lg shadow-md shadow-gray-100 text-center border">
                <h3 class="text-lg font-semibold mb-2">2-Way & 1-Way Texting</h3>
                <p class="text-gray-600 mb-4">Send simple & interactive messages to communicate with your audience better.</p>
            </div>
        </div>
    </div>
</section>

